@font-face {
  font-family: "iconfont"; /* Project id 4016033 */
  src: url('https://at.alicdn.com/t/c/font_4016033_czp4pqpmuda.woff2?t=1681455810411') format('woff2'),
       url('https://at.alicdn.com/t/c/font_4016033_czp4pqpmuda.woff?t=1681455810411') format('woff'),
       url('https://at.alicdn.com/t/c/font_4016033_czp4pqpmuda.ttf?t=1681455810411') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e686";
}
