@font-face {
  font-family: "iconfont"; /* Project id 4016033 */
  src: url('https://at.alicdn.com/t/c/font_4016033_rxjup0ogno.woff2?t=1681463345556') format('woff2'),
       url('https://at.alicdn.com/t/c/font_4016033_rxjup0ogno.woff?t=1681463345556') format('woff'),
       url('https://at.alicdn.com/t/c/font_4016033_rxjup0ogno.ttf?t=1681463345556') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\e607";
}

.icon-youjiantou:before {
  content: "\e686";
}
