page {
	height: 100%;
}
text {
	display: block;
}
image {
	vertical-align: middle;
}
button::after {
	border: none;
}
button:hover {
	background: none;
}
uni-scroll-view .uni-scroll-view::-webkit-scrollbar {
	display: none;
	width: 0 !important;
	height: 0 !important;
	-webkit-appearance: none;
	background: transparent;
	color: transparent;
}
::-webkit-scrollbar {
	display: none;
	width: 0;
	height: 0;
	color: transparent;
}

.no-data {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 200rpx;
	font-size: 26rpx;
	color: #333;
}